<div class="profile-container">
  <div class="profile-body">
    <div class="profile-header-btn">
      <button class="btn btn-danger" (click)="logout()">Déconnexion</button>
    </div>
    <h4>Profil de l'utilisateur</h4>

    <div *ngIf="!editing">
      <div class="profile-text-center">
        <div class="profile-text"><strong>Prénom:</strong> {{ user.prenom }}</div>
        <div class="profile-text"><strong>Nom:</strong> {{ user.nom }}</div>
        <div class="profile-text"><strong>Email:</strong> {{ user.email }}</div>
        <div class="profile-text"><strong>Date de naissance:</strong> {{ user.dateNaissance | date: 'longDate' }}</div>
      </div>
      <div class="profile-btn">
        <button class="btn btn-primary" (click)="toggleEdit()">Modifier le profil</button>
        <button class="btn btn-secondary" (click)="tasklist()">Afficher mes tâches</button>
      </div>
    </div>

    <div *ngIf="editing">
      <form (ngSubmit)="saveProfile(user.prenom, user.lastName, user.email, user.birthdate)">
        <div class="form-group">
          <label for="firstName">Prénom:</label>
          <input type="text" id="firstName" class="form-control" [(ngModel)]="user.prenom" name="prenom">
        </div>
        <div class="form-group">
          <label for="lastName">Nom:</label>
          <input type="text" id="lastName" class="form-control" [(ngModel)]="user.nom" name="nom">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="user.email" name="email">
        </div>
        <div class="form-group">
          <label for="birthdate">Date de naissance:</label>
          <input type="date" id="birthdate" class="form-control" [(ngModel)]="user.dateNaissance" name="dateNaissance">
        </div>
        <div class="profile-btn">
          <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
